<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- min Vulkan API version: 1.0.82 -->
  <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400052" android:required="false" />

  <uses-permission android:name="android.permission.INTERNET" android:required="true" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="true" />

  <application
	  android:name=".TestApplication"
	  android:label="AE tests"
	  android:hardwareAccelerated="true"
	  android:isGame="true">

	<activity
		android:name=".TestActivity"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:launchMode="singleTask"
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
		android:resizeableActivity="true"
		android:screenOrientation="userLandscape"
		android:windowSoftInputMode="adjustPan"
		android:exported="true">
	  <intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
		
		<!-- for profiling -->
		<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
		<action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
		<action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
	  </intent-filter>
	</activity>

  </application>
</manifest>
